/* general */
body {
	margin: 0;
	padding: 0;
	background-color: #fafafc;
	background-image: url(Assets/Zen.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	max-width: 800px;
	font-size: 35px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: 0.3rem;
	color: #4b5945;
	margin-bottom: 60px;
	text-shadow: 3px 3px 4px rgba(56, 55, 55, 0.334);
}

.center {
	width: 100%;
	max-width: 800px;
	margin: 0;
	overflow-y: scroll; /*pour le defilement vertical */
}
.center::-webkit-scrollbar {
	display: none; /*masque la scroll barre du overflow-y: scroll;  /!\ Sinon apparition d'une scroll barre*/
}
.list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}
.list > button {
	height: 70px;
	margin-bottom: 5px;
}
input {
	background: #f1f1f1;
	width: 800px;
	padding: 5px;
	border: none;
	border-radius: 15px;
	margin-bottom: 5px;
	height: 50px;
	font-style: italic;
	font-size: 15px;
	font-weight: 100;
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.273);
	border: solid lightgrey 1px;
	padding: 10px;
	margin-left: 40px;
}
button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	margin-left: 20px;
	padding: 10px;
	border-radius: 15px;
	background: #4b5945;
	color: #fafafc;
	border: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.47);
}

button > div {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
button ul {
	width: 100%;
	list-style: none;
}
button img.icon {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

ul li {
	color: rgb(61, 61, 61);
	background: #f1f1f1;
	border-radius: 15px;
	width: 97%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.273);
	border: solid lightgrey 1px;
	padding: 10px;
	margin-bottom: 5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	max-width: 800px;
	text-wrap: wrap;
}
.list > button > img {
	width: 60px;
	height: 60px;
}

.add {
	width: 50px;
	height: 50px;
}
.modify {
	background: #fcc737;
	color: #2a3335;
	margin-left: 50px;
}
.delete {
	background: #f26b0f;
	color: #f1f1f1;
}
